style
.navbar-top ul li{
display: inline;
align-items: baseline; 
    }
/*   .menu{
    list-style: navbar-top;display: inline;
    text-decoration: aqua; */
    img{
        width: 100%;
        height: 40vh;
    }